* {box-sizing: border-box;}

body {
	padding-top: 80px;
}

@media (max-width: 768px){
	.search {
		padding-bottom: 60px;
	}
}

@media (min-width: 500px){
	.motion {
		padding-top: 10px;
		padding-bottom: 8px;
	}
}

@media (max-width: 768px){
	.motion {
		padding-top: 10px;
		padding-bottom: 8px;
	}
}

@media (min-width: 500px){
	.underground {
		padding-bottom: 7px;
	}
}

@media (max-width: 768px){
	.underground {
		font-size: 12.6px;
		/*margin-left: 15px;
		margin-right: -10px;*/
    }
}

@media (max-width: 500px){
	.underground {
		margin-left: 15px;
		margin-right: -10px;
	}
}

@media (min-width: 500px){
	.domingo {
		margin-left: 15px;
		margin-right: -10px;
	}
}

@media (max-width: 768px){
	.domingo {
		margin-left: -18px;
		margin-right: 26px;
	}
	.santo {
	    font-size: 24px;
    }
}

@media (max-width: 500px){
	.domingo {
		margin-left: 10px;
		margin-right: 20px;
		padding-bottom: 20px;
	}
    .santo {
	    font-size: 19.3px;
	}
}

@media (min-width: 500px){
	.cool {
		margin-left: 5px;
		margin-right: 20px;
		padding-top: 15px;
	}
}

@media (max-width: 768px){
	.cool {
		margin-left: 15px;
		margin-right: 15px;
		margin-top: -446px;
	}
}

@media (max-width: 500px){
	.cool {
		margin-left: 45px;
		margin-right: -10px;
		margin-top: 2px;
	}
}

.carousel {
	margin-top: -33px;
}

.camisetas {
	margin-top: 20px;
	margin-right: -10px;
}

.lorem {
	margin-top: 10px;
}