* {box-sizing: border-box;}

.camisetas .thumbnail {
  min-height: 320px;
}

.categorías {
	padding-top:20px
}

#tablets {
  margin-bottom: 10px;
  display:  none;
}

#products{
  margin-top: 20px;
}

#detalles {
	padding-top:20px
}

.panel {
	margin-top:20px;
}

.tab-pane {
	margin-top:20px ;margin-bottom:20px; text-align:justify;
}

@media (min-width: 991px) and (max-width: 1200px) {
  #search {
    display: none;
  }
  #tablets {
     display: inline-table;
     padding-bottom: 20px;
  }
}

@media (max-width: 990px) {
  #search {
    display: none;
  }
  
  #tablets {
   display: inline-table;
   padding-bottom: 20px;

  }
  .caption h3{
    font-size: 12px;
    font-weight: bold;
  }
  .caption {
    font-size: 10px;
  }
  .caption p a{
    font-size:90%;
    margin-top: 5px;
    display: block;
  }
  .camisetas .thumbnail {

    min-height: 280px;
  }


}